@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500&display=swap');

.App {
  text-align: center;
  font-size: 16px;
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 500;
  
}


.card-title{
  font-size: 2rem !important;
}
.hero{
  background-color: rgba(33,37,41,1)!important;
  padding: 1rem 0;
}
.hero ul{
  margin: 0;
}
.hero ul li{
  list-style: none;
  display: inline;
  padding: 0 1rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.55);
 }


 .hero ul li:active
 {
  color: #fff;
 }
 
 .bio{
  text-align: justify;
  line-height: 1.5;
 }

 .work-item{
  width: 80%;
  margin: auto;
 }
 .work-accomplishments{
  font-size: 0.60rem;
  text-align: justify;
}

@media all and (min-width:500px){

  
  .card-title{
    font-size: 3rem !important;
  }

  .work-accomplishments{
    font-size: 0.75rem;
    
  }

  }
@media all and (min-width:750px){
  .bio{
    line-height: 2;
   }

  .skills-images{
    width: 100px;
    height: 100px;
  }
  
  .work-accomplishments{
    font-size: 0.8rem;
  }
} 



/* .navbar{

  background: linear-gradient(90deg, rgba(210,209,217,1) 0%, rgba(30,30,31,1) 0%, rgba(156,169,172,1) 100%);
  box-shadow: 0px 14px 37px -8px rgba(0,0,0,0.76);
}

.navbar .nav-link{
  color: white;
}
.navbar .nav-link:hover
{
  color: grey;
} */

